<%
  /** 
   * return 'active' if page is === currentPage
   */
  function setActiveClass(page) {
   return currentPage === page ? 'active' : '';
  }
%>
<header>
    <nav>
        <a href="/" class="nav-link <%= setActiveClass('home') %>">Home</a>
        <a href="/about" class="nav-link <%= setActiveClass('about') %>">About</a>
        <a href="/contacts" class="nav-link <%= setActiveClass('contacts') %>">Contact Us</a>
        <a href="/users" class="nav-link <%= setActiveClass('users') %>">Users</a>
        <a href="/posts" class="nav-link <%= setActiveClass('posts') %>">Posts</a>
        <a href="/books" class="nav-link <%= setActiveClass('books') %>">Books</a>
        <!-- <a href="/posts" class="nav-link <%#= currentPage === 'posts' ? 'active' : '' %>">Posts</a> -->
    </nav>
</header>
